@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/poppins-v23-latin-500.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-blk: #212121;
    --clr-white: #f0f0f0;
    --clr-offWhite: #c4c2c2;
    --clr-grey: #3e3b3b;
    --clr-darkGrey: #2c2c2c;
    --clr-red: #cc0e11;
    --clr-orange: #eb6207;
    --clr-green: #5d960e;
    --clr-blue: #1b5cdd;
    --clr-indigo: #6f29e1;
    --clr-violet: #a204c2;
    --clr-terracotta: #a52a2a;
}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background-color: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--clr-grey);
    border: 2px solid var(--clr-white);
}
body {
    width: 100%;
    height: 100vh;
    color: var(--clr-blk);
    background-color: var(--clr-white);
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    cursor: default;
}
.links {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
.links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-blk);
    height: 75px;
}
.links ul img {
    display: block;
    max-width: 215px;
    height: auto;
    margin: auto 10px;
    object-fit: contain;
    color: var(--clr-white);
    text-align: center;
}
.links ul li {
    display: inline-block;
    list-style: none;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 500;
    transition: 150ms ease-in all;
}
.links ul li a {
    display: block;
    text-decoration: none;
    color: var(--clr-white);
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 1.6rem;
}
.links ul li:hover:nth-child(1) {
    background-color: var(--clr-red);
}
.links ul li:hover:nth-child(2) {
    background-color: var(--clr-blue);
}
.links ul li:hover:nth-child(3) {
    background-color: var(--clr-violet);
}
.links ul li:hover:nth-child(5) {
    background-color: var(--clr-green);
}
.links ul li:hover:nth-child(6) {
    background-color: var(--clr-indigo);
}
.links ul li:hover:nth-child(7) {
    background-color: var(--clr-orange);
}
.hamburger_menu,
.hamburger_background img,
.mobile_logo img {
    display: none;
}
.wrapper {
    position: relative;
    top: 100px;
    max-width: 70rem;
    margin: 0 auto;
}
.archive {
    position: relative;
    margin: 0 auto;
    max-width: 60rem;
}
.archive::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: var(--clr-grey);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 5px;
}
.archive .container {
    position: relative;
    padding: .5rem 2rem;
    width: 50%;
}
.archive .container::after {
    content: '';
    position: absolute;
    top: 15px;
    right: -15px;
    border: 3px solid var(--clr-blk);
    width: 25px;
    height: 25px;
    background: var(--clr-white);
    border-radius: 15px;
    z-index: 1;
}
.archive .container.left {
    left: 0;
}
.archive .container.right {
    left: 50%;
}
.archive .container.right::after {
    left: -15px;
}
.archive .container .content {
    padding: 1rem;
    border-radius: 15px;
    line-height: 1.6;
    color: var(--clr-grey);
    background: var(--clr-white);
    border: solid 2px var(--clr-blk);
}
.archive .container:nth-child(odd) .content {
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .2);
}
.archive .container:nth-child(even) .content {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}
.archive .container .content img {
    width: 100px;
    height: 100%;
    object-fit: contain;
    float: right;
}
.archive .container .content h2,
.archive .container .content h3 {
    font-weight: 500;
    text-transform: capitalize;
}
.archive .container .content h2 {
    font-size: clamp(1.1rem , 3vw, 1.3rem);
}
.archive .container .content h3 {
    font-size: clamp(.85rem , 3vw, 1rem);
}
.archive .container .content p {
    font-weight: 400;
    font-size: 1rem;
    margin: 20px auto 0;
}
.scroll-top {
    position: fixed;
    bottom: 2rem;
    right: 2.5rem;
    font-size: clamp(2.5rem, 3vw, 3rem);
    transition: 250ms ease-in-out;
    opacity: 0;
    pointer-events: none;
}
.scroll-top a {
    color: var(--clr-violet);
}
.scroll-top-mobile {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    background: var(--clr-violet);
    width: 100%;
    height: 3.5rem;
    transition: 250ms ease-in-out;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, .2);
    z-index: 1;
}
.scroll-top-mobile a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.25rem;
    font-weight: 500;
    height: 100%;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--clr-white);
}
.scroll-top-mobile i {
    margin-right: 1rem;
}
.scroll-top.active,
.scroll-top-mobile.active {
    pointer-events: auto;
    opacity: 1;
}
footer {
    margin: 200px auto 0;
    text-align: center;
    width: 90%;
    line-height: 1.6;
    padding-bottom: 2rem;
}
footer h2 {
    font-size: clamp(1rem , 3vw, 1.1rem);
    font-weight: 400;
    letter-spacing: .25px;
    text-transform: uppercase;
}
footer h2::before {
    content: '';
    display: block;
    position: relative;
    bottom: 1.5rem;
    border-top: solid 2px var(--clr-grey);
    margin: 0 auto;
    max-width: 60rem;
}
footer i {
    font-size: .9rem;
}
footer p {
    margin-top: .25rem;
}
@media screen and (max-width: 1135px) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    nav {
        background: var(--clr-violet);
        margin-bottom: 1.5rem;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    }
    nav.active .links {
        transform: translateX(40%);
    }
    nav.active .hamburger_menu .bars::before,
    nav.active .hamburger_menu .bars::after {
        background-color: var(--clr-white);
    }
    nav.active .hamburger_menu .bars::before {
        transform: translateY(0) rotate(-45deg);
    }
    nav.active .hamburger_menu .bars::after {
        transform: translateY(0) rotate(45deg);
    }
    nav.active .overlay {
        opacity: 1;
        pointer-events: all;
    }
    .links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--clr-terracotta);
        transform: translateX(100%);
        transition: 250ms ease-in-out;
        z-index: 4;
    }
    .links ul {
        height: 100%;
        flex-direction: column;
        background-color: var(--clr-terracotta);
    }
    .links ul .logo {
        display: none;
    }
    .links ul li {
        margin: 1.4rem 1.5rem;
        padding: 0;
    }
    .links ul li:hover:nth-child(1),
    .links ul li:hover:nth-child(2),
    .links ul li:hover:nth-child(3),
    .links ul li:hover:nth-child(5),
    .links ul li:hover:nth-child(6),
    .links ul li:hover:nth-child(7) {
        background-color: transparent;
    }
    .links ul li a {
        display: inline-block;
        width: 115px;
        text-align: left;
        color: var(--clr-white);
        height: 0;
        padding: 0;
        -webkit-tap-highlight-color: transparent;
    }
    .hamburger_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 3.75rem;
        right: 2.5rem;
        width: 1.1rem;
        height: 2rem;
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
        z-index: 5;
    }
    .hamburger_menu .bars {
        position: relative;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background-color: transparent;
        transition: 250ms all;
    }
    .hamburger_background img {
        display: block;
        position: absolute;
        top: 2.25rem;
        right: 1rem;
        max-width: 65px;
        height: auto;
        z-index: 3;
    }
    .bars::before,
    .bars::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--clr-white);
        transition: 250ms ease;
    }
    .bars::before {
        transform: translateY(4px);
    }
    .bars::after {
        transform: translateY(-4px);
    }
    .overlay {                               
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0;
        pointer-events: none;
        transition: 300ms;
        z-index: 3;
    }
    .mobile_logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mobile_logo img {
        display: block;
        margin: 0 auto;
        width: 300px;
        height: auto;
    }
    .wrapper {
        top: 0;
        padding: 0 .75rem;
    }
    .archive .container:nth-child(odd) .content,
    .archive .container:nth-child(even) .content {
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    }
    .scroll-top {
        display: none;
    }
    .scroll-top-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    footer {
        margin: 50px auto 0;
    }
}
@media screen and (max-width: 810px) {
    .archive::after {
        left: 31px;
    }
    .archive .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 1rem;
        margin: 15px 0;
    }
    .archive .container.left,
    .archive .container.right {
        left: 0;
    }
    .archive .container.left::after,
    .archive .container.right::after {
        left: 19px;
    }
}
@media screen and (max-width: 550px) {
    .hamburger_menu {
        top: 3rem;
    }
    .hamburger_background img {
        top: 1.5rem;
    }
    .mobile_logo img {
        width: 250px;
    }
}
@media screen and (max-width: 475px) {
    .hamburger_menu {
        top: 2.75rem;
        right: 2.5rem;
    }
    .hamburger_background img {
        top: 1.25rem;
        right: 1rem;
    }
    .mobile_logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-left: .4rem;
    }
    .mobile_logo img {
        width: 225px;
    }
    .archive::after {
        left: 15px;
    }
    
    .archive .container {
        padding-left: 50px;
    }
    
    .archive .container.left::after,
    .archive .container.right::after {
        left: 3px;
    }
}
@media screen and (max-width: 385px) {
    .hamburger_menu {
        top: 2.4rem;
        right: 2.5rem;
    }
    .hamburger_background img {
        top: .85rem;
    }
    .mobile_logo img {
        width: 200px;
    }
}
@media screen and (max-width: 405px) {
    .archive .container .content h2,
    .archive .container .content h3 {
        text-align: center;
    }
    .archive .container .content img {
        display: block;
        width: 150px;
        margin: 0 auto 25px;
        float: none;
    }
}
@media screen and (orientation: landscape) and (max-width: 934px) {
    .links {
        padding-bottom: 2rem;
    }
    .links ul {
        display: flex;
        align-items: flex-start;
        scrollbar-width: none;
        width: 100%;
        overflow-y: auto;
    }
    .links ul::-webkit-scrollbar {
        display: none;
    }
    .links ul li {
        position: relative;
        top: 10rem;
    }
}
@media screen and (prefers-color-scheme: dark) and (max-width: 1135px) {
    .links {
        background: var(--clr-grey);
    }
    .links ul {
        background: var(--clr-grey);
    }
}
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background-color: var(--clr-grey);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--clr-offWhite);
        border: 2px solid var(--clr-offWhite);
    }
    body {
        color: var(--clr-white);
        background-color: var(--clr-blk);
    }
    nav {
        background: var(--clr-darkGrey);
    }
    nav.active .links ul li:hover:nth-child(1),
    nav.active .links ul li:hover:nth-child(2),
    nav.active .links ul li:hover:nth-child(3),
    nav.active .links ul li:hover:nth-child(5),
    nav.active .links ul li:hover:nth-child(6),
    nav.active .links ul li:hover:nth-child(7) {
        background-color: transparent;
    }
    .links ul li:hover:nth-child(1),
    .links ul li:hover:nth-child(2),
    .links ul li:hover:nth-child(3),
    .links ul li:hover:nth-child(5),
    .links ul li:hover:nth-child(6),
    .links ul li:hover:nth-child(7) {
        background-color: var(--clr-grey);
    }
    .links ul li a {
        color: var(--clr-white);
    }
    .archive .container::after {
        background: var(--clr-offWhite);
    }
    .archive .container .content {
        color: var(--clr-white);
        background: var(--clr-grey);
    }
    .scroll-top a {
        color: var(--clr-offWhite);
    }
    .scroll-top-mobile {
        background: var(--clr-grey);
    }
}