@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/poppins-v23-latin-500.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
:root {
    --clr-blk: #212121;
    --clr-white: #f0f0f0;
    --clr-offWhite: #c4c2c2;
    --clr-grey: #3e3b3b;
}
::-webkit-scrollbar {
    width: 11px;
}
::-webkit-scrollbar-track {
    background-color: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--clr-grey);
    border: 2px solid var(--clr-white);
}
body {
    width: 100%;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-blk);
    background-color: var(--clr-white);
    overflow: hidden;
    cursor: default;
}
.movie-information {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-areas: 
    'poster content'
    'poster content';
    max-width: 80rem;
}
.movie-information .poster {
    grid-area: poster;
}
.movie-information .content {
    grid-area: content;
    height: 100vh;
    overflow-y: auto;
}
.movie-information .poster img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}
.movie-information .poster #mobile-bg {
    display: none;
}
.movie-information h1 {
    font-size: clamp(1.6rem, 3vw, 2rem);
    padding-inline: .75rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin: 25px auto;
}
.movie-information h1 span {
    text-transform: lowercase;
}
.movie-information .content .subheader {
    text-transform: capitalize;
    color: var(--clr-white);
    background: var(--clr-blue);
    padding: .4rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}
.movie-information .content .subheader h2 {
    font-weight: 400;
    margin-left: .4rem;
}
.movie-information .content .cast {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    margin: 40px auto 20px;
    padding-inline: 1rem;
}
.movie-information .content .cast img {
    width: 100px;
    height: auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}
.movie-information .content .cast h3 {
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    font-size: clamp(1rem, 3vw, 1.025rem);
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin: 5px auto;
    max-width: 115px;
}
.movie-information .content .info {
    margin: 20px auto;
    padding-inline: .75rem 1rem;
}
.movie-information .content .info p {
    font-size: clamp(1rem, 3vw, 1.025rem);
    line-height: 1.6;
}
.movie-information .content .info ul {
    list-style: none;
}
.movie-information .content .info ul li {
    text-transform: capitalize;
}
.movie-information .content .info.genre ul {
    display: flex;
    flex-direction: row;
}
.movie-information .content .info.genre ul li {
    margin: .15rem;
}
.movie-information .content .info .reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: start;
}
.movie-information .content .info .reviews-container .reviews {
    position: relative;
}
.movie-information .content .info .reviews-container .reviews h3 {
    display: inline-block;
    position: relative;
    bottom: .2rem;
    text-transform: capitalize;
    font-weight: 300;
}
.movie-information .content .info .reviews-container .reviews i {
    position: relative;
    font-size: 2.25rem;
    margin-left: .5rem;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
}
.movie-information .content .info .reviews-container .reviews:nth-child(3) i {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.movie-information .content .info .reviews-container .reviews span {
    color: var(--clr-white);
    position: absolute;
    top: 50%;
    left: 82%;
    transform: translate(-50%, -50%);
}
.movie-information .content .info .reviews-container .reviews .score-4 {
    position: absolute;
    top: 50%;
    left: 81%;
    transform: translate(-50%, -50%);
}
.movie-information .content .info .reviews-container .reviews #user-score {
    position: absolute;
    top: 51%;
    left: 82.5%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.movie-information .trailer iframe {
    border: none;
    aspect-ratio: 16 / 9;
    padding: 10px .5rem;
    width: 100%;
    height: 100%;
}
footer {
    width: 90%;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 2rem;
    margin: 25px auto 0;
}
footer h2 {
    font-size: clamp(1rem , 3vw, 1.1rem);
    font-weight: 400;
    letter-spacing: .25px;
    text-transform: uppercase;
}
footer i {
    font-size: .9rem;
}
footer p {
    margin-top: .25rem;
}
@media screen and (max-width: 1250px) {
    .movie-information .content .cast {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .movie-information .content .cast > div {
        margin: 1rem;
    }
}
@media screen and (max-width: 965px) {
    .movie-information .content .cast {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 805px) {
    body {
        overflow: auto;
    }
    .movie-information {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'poster'
        'content'
    }
    .movie-information .poster {
        position: relative;
        padding: 2rem 0;
        overflow: hidden;
    }
    .movie-information .poster img {
        position: relative;
        margin: 0 auto;
        max-width: 60%;
        height: auto;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
        z-index: 2;
    }
    .movie-information .poster #mobile-bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(20px);
        transform: scale(1.1);
        z-index: 0;
    }
    .movie-information .content {
        height: auto;
        overflow-y: auto;
    }
    .movie-information .content .cast {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (max-width: 625px) {
    .movie-information .content .cast {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 425px) {
    .movie-information .content .info .reviews-container {
        grid-template-columns: 1fr;
    }
    .movie-information .content .info .reviews-container .reviews {
        margin: 15px 0;
    }
    .movie-information .content .info .reviews-container .reviews h3 {
        margin-right: .9rem;
    }
    .movie-information .content .info .reviews-container .reviews:nth-child(2) h3 {
        margin-right: 1rem;
    }
    .movie-information .content .info .reviews-container .reviews:last-child h3 {
        margin-right: .9rem;
    }
    .movie-information .content .info .reviews-container .reviews span {
        left: 84%;
    }
    .movie-information .content .info .reviews-container .reviews .score-4 {
        left: 83.5%;
    }
    .movie-information .content .info .reviews-container .reviews #user-score {
        top: 51%;
        left: 83.5%;
    }
}
@media screen and (max-width: 335px) {
    .movie-information .content .info.genre ul {
        flex-direction: column;
    }
    .movie-information .content .info.genre ul li span {
        display: none;
    }
}
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background-color: var(--clr-grey);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--clr-offWhite);
    }
    body {
        color: var(--clr-offWhite);
        background-color: var(--clr-blk); 
    }
}