@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins-v24-latin-300.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins-v23-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/poppins-v23-latin-500.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}
:root {
    --clr-blk: #212121;
    --clr-white: #f0f0f0;
    --clr-offWhite: #c4c2c2;
    --clr-grey: #3e3b3b;
    --clr-lightGrey: #cccccc;
    --clr-charcoal: #7f7979;
    --clr-red: #cc0e11;
    --clr-orange: #df5900;
    --clr-green: #5d960e;
    --clr-blue: #1b5cdd;
    --clr-indigo: #6f29e1;
    --clr-violet: #a204c2;
    --clr-terracotta: #a52a2a;
}
body {
    width: 100%;
    max-width: 90rem;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-blk);
    background-color: var(--clr-white);
    overflow: hidden;
    cursor: default;
}
.hamburger_menu,
.hamburger_background img,
.mobile_logo {
    display: none;
}
.links {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
}
.links ul {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-blk);
    height: 75px;
}
.links ul li .logo {
    display: block;
    max-width: 215px;
    height: auto;
    object-fit: contain;
    color: var(--clr-white);
    text-align: center;
}
.links ul li .logo a {
    padding: 0;
    text-decoration: none;
}
.links ul li {
    display: inline-block;
    list-style: none;
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 500;
    transition: background-color 150ms ease-in;
}
.links ul li a {
    display: block;
    text-decoration: none;
    color: var(--clr-white);
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 1.6rem;
}
.links ul li:hover:nth-child(1) {
    background-color: var(--clr-red);
}
.links ul li:hover:nth-child(2) {
    background-color: var(--clr-blue);
}
.links ul li:hover:nth-child(3) {
    background-color: var(--clr-violet);
}
.links ul li:hover:nth-child(5) {
    background-color: var(--clr-green);
}
.links ul li:hover:nth-child(6) {
    background-color: var(--clr-indigo);
}
.links ul li:hover:nth-child(7) {
    background-color: var(--clr-orange);
}
.movie-information {
    display: grid;
    grid-template-columns:  350px 1fr;
    grid-template-areas: 
    'poster content';
    margin-top: 75px;
}
.movie-information .poster {
    grid-area: poster;
}
.movie-information .content {
    grid-area: content;
    height: calc(100vh - 75px);
    overflow-y: auto;
}
.movie-information .poster img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
}
.movie-information .poster #mobile-bg {
    display: none;
}
.movie-information h1 {
    font-size: clamp(1.6rem, 3vw, 2rem);
    padding-inline: .75rem;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    margin: 25px auto;
}
.movie-information h1 span {
    text-transform: lowercase;
}
.movie-information .content .subheader {
    text-transform: capitalize;
    color: var(--clr-white);
    background: var(--clr-blue);
    padding: .4rem;
}
.movie-information .content .subheader h2 {
    font-weight: 400;
    margin-left: .4rem;
}
.movie-information .cast-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    column-gap: 1.5rem;
}
.movie-information .cast-grid .cast img {
    width: 100px;
    height: auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    border-radius: 50px;
}
.movie-information .cast-grid .cast {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 0;
}
.movie-information .cast-grid .cast > div {
    min-width: 0;
}
.movie-information .cast-grid .cast p {
    text-transform: capitalize;
    margin-left: .75rem;
}
.movie-information .cast-grid .cast span {
    text-transform: lowercase;
}
.movie-information .cast-grid .cast p:first-child {
    font-size: clamp(1rem, 3vw, 1.1rem);
    font-weight: 500;
}
.movie-information .cast-grid .cast p {
    color: var(--clr-grey);
    font-size: clamp(.95rem, 3vw, 1rem);
    font-weight: 400;
}
.movie-information .content .info {
    margin: 20px auto;
    padding-inline: .75rem 1rem;
}
.movie-information .content .info p {
    font-size: clamp(1rem, 3vw, 1.025rem);
    line-height: 1.6;
}
.movie-information .content .info ul {
    list-style: none;
}
.movie-information .content .info ul li {
    text-transform: capitalize;
}
.movie-information .content .info.genre ul {
    display: flex;
    flex-direction: row;
}
.movie-information .content .info.genre ul li {
    margin: .15rem;
}
.movie-information .reviews-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.5rem 1rem;
}
.movie-information .reviews-container .reviews {
    display: flex;
    flex-direction: row;
}
.movie-information .reviews-container .reviews h3 {
    text-transform: capitalize;
    font-weight: 300;
    margin-top: .15rem;
}
.movie-information .reviews-container .reviews .star-wrapper {
    display: flex;
    flex-direction: row;
}
.movie-information .reviews-container .user.reviews .star-wrapper {
    cursor: pointer;
}
.movie-information .reviews-container .reviews .star-wrapper .star {
    width: clamp(1.5rem, 3vw, 2rem);
    height: auto;
    fill: var(--clr-lightGrey);
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.3));
    -webkit-tap-highlight-color: transparent;
    margin-left: .85rem;
}
.movie-information .trailer {
    position: relative;
}
.movie-information .trailer button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: auto;
    background: transparent;
    border: none;
    cursor: pointer;
}
.movie-information .trailer iframe {
    border: none;
    aspect-ratio: 16 / 9;
    padding: 10px .5rem;
    width: 100%;
    height: 100%;
}
.movie-information #thumbnail {
    width: 100%;
    height: auto;
    padding: .75rem;
}
footer {
    width: 90%;
    line-height: 1.6;
    text-align: center;
    padding-bottom: 2rem;
    margin: 25px auto 0;
}
footer h3 {
    font-size: clamp(1rem , 3vw, 1.1rem);
    font-weight: 400;
    letter-spacing: .25px;
    text-transform: uppercase;
}
footer h3::before {
    content: '';
    display: block;
    position: relative;
    bottom: 1.5rem;
    border-top: solid 2px var(--clr-grey);
    margin: 0 auto;
    max-width: 60rem;
}
footer .copyright {
    display: inline-block;
    position: relative;
    top: .115rem;
    width: 16px;
    height: auto;
}
footer p {
    margin-top: .25rem;
}
@media screen and (max-width: 1250px) {
    .movie-information .content .cast-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 1135px) {
    .no-scroll {
        position: fixed;
        overflow-y: hidden;
    }
    nav {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 90px;
        background: var(--clr-indigo);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
    }
    .mobile_logo {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: .5rem 0 0 .5rem;
    }
    .mobile_logo img {
        width: clamp(200px, 50vw, 245px);
        height: auto;
    }
    nav.menu-open .hamburger_menu .bars::before,
    nav.menu-open .hamburger_menu .bars::after {
        background-color: var(--clr-white);
    }
    nav.menu-open .hamburger_menu .bars::before {
        transform: translateY(0) rotate(-45deg);
    }
    nav.menu-open .hamburger_menu .bars::after {
        transform: translateY(0) rotate(45deg);
    }
    .hamburger_menu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 53%;
        transform: translateY(-50%);
        right: 3rem;
        width: 1.1rem;
        height: 2rem;
        background-color: transparent;
        -webkit-tap-highlight-color: transparent;
        border: none;
        z-index: 5;
    }
    .hamburger-menu:focus:not(:focus-visible) {
        outline: none;
    }
    .hamburger_menu .bars {
        position: relative;
        width: 100%;
        height: 2px;
        border-radius: 10px;
        background-color: transparent;
    }
    .hamburger_background img {
        display: block;
        position: absolute;
        top: 44.5%;
        transform: translateY(-50%);
        right: 1rem;
        max-width: 65px;
        height: auto;
        z-index: 3;
    }
    .bars::before,
    .bars::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--clr-white);
        transition: transform 250ms ease;
    }
    .bars::before {
        transform: translateY(4px);
    }
    .bars::after {
        transform: translateY(-4px);
    }
    nav.menu-open .overlay {
        opacity: 1;
        pointer-events: all;
    }
    .overlay {                               
        display: block;
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 1);
        opacity: 0;
        pointer-events: none;
        transition: opacity 300ms;
        z-index: 3;
    }
    nav.menu-open .links {
        transform: translateX(40%);
        visibility: visible;
        transition: transform 250ms ease-in-out, visibility 0s;
    }
    .links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--clr-terracotta);
        transform: translateX(100%);
        transition: transform 250ms ease-in-out, visibility 0s 250ms;
        visibility: hidden;
        z-index: 4;
    }
    .links ul {
        height: 100%;
        flex-direction: column;
        background-color: var(--clr-terracotta);
    }
    .links ul .logo {
        display: none;
    }
    .links ul li {
        margin: 1.4rem 1.5rem;
        padding: 0;
    }
    .links ul li:hover:nth-child(1),
    .links ul li:hover:nth-child(2),
    .links ul li:hover:nth-child(3),
    .links ul li:hover:nth-child(5),
    .links ul li:hover:nth-child(6),
    .links ul li:hover:nth-child(7) {
        background-color: transparent;
    }
    .links ul li a {
        display: inline-block;
        width: 115px;
        text-align: left;
        color: var(--clr-white);
        height: 0;
        padding: 0;
        -webkit-tap-highlight-color: transparent;
    }
    .movie-information {
        margin-top: 0;
    }
    .movie-information .reviews-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .movie-information .reviews-container .critics.reviews {
        margin-bottom: 1.5rem;
    }
    .movie-information .reviews-container .reviews .star-wrapper .star {
        position: relative;
    }
    .movie-information .reviews-container .critics.reviews .star-wrapper .star {
        left: .1rem;
    }
    .movie-information .reviews-container .user.reviews .star-wrapper .star {
        left: .5rem;
    }
}
@media screen and (max-width: 965px) {
    .movie-information .content .cast-grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 925px) {
    .movie-information .content .info .reviews-container {
        grid-template-columns: 1fr;
    }
    .movie-information .content .info .reviews-container .reviews {
        margin: 15px 0;
    }
    .movie-information .content .info .reviews-container .reviews h3 {
        margin-right: .9rem;
    }
}
@media screen and (max-width: 805px) {
    body {
        overflow: auto;
    }
    .movie-information {
        grid-template-columns: 1fr;
        grid-template-areas: 
        'poster'
        'content'
    }
    .movie-information .poster {
        position: relative;
        padding: 2rem 0;
        overflow: hidden;
    }
    .movie-information .poster img {
        position: relative;
        margin: 0 auto;
        max-width: 60%;
        height: auto;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
        z-index: 2;
    }
    .movie-information .poster #mobile-bg {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(20px);
        z-index: 0;
    }
    .movie-information .content {
        height: auto;
        overflow-y: auto;
    }
    .movie-information .content .cast-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (max-width: 610px) {
    .movie-information .content .cast-grid {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 435px) {
    .movie-information .reviews-container .reviews {
        display: flex;
        flex-direction: column;
    }
    .movie-information .reviews-container .user.reviews .star-wrapper .star {
        left: 0;
    }
    .movie-information .reviews-container .critics.reviews .star-wrapper .star,
    .movie-information .reviews-container .user.reviews .star-wrapper .star {
        margin: .65rem .65rem 0 0;
    }
}
@media screen and (max-width: 335px) {
    .movie-information .content .info.genre ul {
        flex-direction: column;
    }
    .movie-information .content .info.genre ul li span {
        display: none;
    }
}
@media screen and (orientation: landscape) and (max-width: 934px) {
    .links {
        padding-bottom: 2rem;
    }
    .links ul {
        display: flex;
        align-items: flex-start;
        scrollbar-width: none;
        width: 100%;
        overflow-y: auto;
    }
    .links ul::-webkit-scrollbar {
        display: none;
    }
    .links ul li {
        position: relative;
        top: 10rem;
    }
}
@media screen and (prefers-color-scheme: dark) and (max-width: 1135px) {
    .links {
        background: var(--clr-grey);
    }
    .links ul {
        background: var(--clr-grey);
    }
}
@media screen and (prefers-color-scheme: dark) {
    body {
        color: var(--clr-offWhite);
        background-color: var(--clr-blk); 
    }
    nav {
        background: var(--clr-darkGrey);
    }
    nav.menu-open .links ul li:hover:nth-child(1),
    nav.menu-open .links ul li:hover:nth-child(2),
    nav.menu-open .links ul li:hover:nth-child(3),
    nav.menu-open .links ul li:hover:nth-child(5),
    nav.menu-open .links ul li:hover:nth-child(6),
    nav.menu-open .links ul li:hover:nth-child(7) {
        background-color: transparent;
    }
    .links ul li:hover:nth-child(1),
    .links ul li:hover:nth-child(2),
    .links ul li:hover:nth-child(3),
    .links ul li:hover:nth-child(5),
    .links ul li:hover:nth-child(6),
    .links ul li:hover:nth-child(7) {
        background-color: var(--clr-grey);
    }
    .links ul li a {
        color: var(--clr-white);
    }
    .movie-information .content {
        color-scheme: dark;
    }
    .movie-information .content h1 {
        color: var(--clr-white);
    }
    .movie-information .cast-grid .cast p {
        color: var(--clr-offWhite);
    }
    .movie-information .reviews-container .reviews .star-wrapper .star {
        fill: var(--clr-grey);
    }
    footer {
        color: var(--clr-white);
    }
    footer h3::before {
        border-top: solid 2px var(--clr-grey);
    }
    footer .copyright path {
        stroke: #f0f0f0;
    }
    footer .copyright circle {
        stroke: #f0f0f0;
    }
}