* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-blk: #212121;
    --clr-white: #f0f0f0;
    --clr-darkGrey: #292828;
    --clr-offWhite: #c4c2c2;
    --clr-lightGold: #d8af0b;
    --clr-darkGold: #b59a02;
    --clr-grey: #3e3b3b;
    --clr-blue: #2056a8;
    --clr-brown: #80604f;
    --clr-burntOrange:#a7441f;
    --clr-crimson: #801c29;
    --clr-darkBlue: #184d7c;
    --clr-eggplant: #361f2e;;
    --clr-gold: #af814f;
    --clr-magenta: #a90243;
    --clr-navyBlue: #2d3d5a;
    --clr-orange: #a75926;
    --clr-purple: #57157a;
    --clr-red: #a81318;
    --clr-redPink: #8a1828;
    --dark-mode-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%, 
        rgb(81, 81, 82) 55%,
        rgba(0,0,0,1) 100%); 
    --blk-grey-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%, 
        rgba(157,158,159,1) 15%, 
        rgba(0,0,0,1) 100%); 
    --blue-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%,
        rgb(32, 86, 168) 65%, 
        rgba(0,0,0,1) 100%); 
    --brown-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%, 
        rgba(128,96,79,1) 35%, 
        rgba(0,0,0,1) 100%); 
    --crimson-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%, 
        rgba(128,28,41,1) 65%, 
        rgba(0,0,0,1) 100%); 
    --darkBlue-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%, 
        rgba(24,77,124,1) 70%, 
        rgba(0,0,0,1) 100%); 
    --eggplant-aegean-Gradient: linear-gradient(115deg, 
        rgba(54,31,46,1) 0%, 
        rgba(52,61,67,1) 50%, 
        rgba(54,31,46,1) 100%);
    --bronze-Gradient: radial-gradient(circle, 
        rgb(186, 132, 73) 0%, 
        rgb(116, 66, 16) 100%);
    --orange-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%, 
        rgba(187,100,43,1) 35%, 
        rgba(0,0,0,1) 100%); 
    --orange-blue-Gradient: linear-gradient(90deg,
        rgb(221, 95, 26) 0%,
        rgb(91, 99, 208) 100%);
    --purple-pacificBlue-Gradient: linear-gradient(40deg, 
        rgba(87, 21, 122,1) 0%, 
        rgba(71,101,149,1) 45%, 
        rgb(87, 21, 122) 100%);
    --purple-pink-Gradient:linear-gradient(90deg, 
        rgba(82,83,168,1) 0%,
        rgba(230,108,145,1) 100%);
    --red-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%, 
        rgba(168,19,24,1) 65%, 
        rgba(0,0,0,1) 100%); 
    --red-pink: linear-gradient(35deg, 
        rgb(138, 24, 40) 0%, 
        rgb(180, 100, 109) 50%, 
        rgb(138, 24, 40) 100%); 
    --red-peach-skyBlue: linear-gradient(135deg, 
        rgb(123, 1, 50) 0%, 
        rgba(234,114,102,1) 35%, 
        rgba(62,98,164,1) 100%); 
    --yellow-blue-gradient: linear-gradient(40deg, 
        rgba(41,61,95,1) 0%, 
        rgba(117,125,99,1) 35%, 
        rgba(248,162,57,1) 135%);
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--clr-offWhite);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--clr-grey);
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: var(--clr-blk);
    background-color: var(--clr-white);
    cursor: default;
    overflow: hidden;
}
/*GRADIENT BACKGROUNDS*/
.bg {
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
}
.bg.blk-grey-gradient {
    background: var(--blk-grey-Gradient);
}
.bg.blue-gradient {
    background: var(--blue-Gradient);
}
.bg.brown-gradient {
    background: var(--brown-Gradient);
}
.bg.crimson-gradient {
    background: var(--crimson-Gradient);
}
.bg.darkBlue-gradient {
    background: var(--darkBlue-Gradient);
}
.bg.eggplant-aegean-gradient {
    background: var(--eggplant-aegean-Gradient);
}
.bg.bronze-gradient {
    background: var(--bronze-Gradient);
}
.bg.orange-gradient {
    background: var(--orange-Gradient);
}
.bg.orange-blue-gradient {
    background: var(--orange-blue-Gradient);
}
.bg.purple-pink-gradient {
    background: var(--purple-pink-Gradient);
}
.bg.purple-pacificBlue-gradient {
    background: var(--purple-pacificBlue-Gradient);
}
.bg.red-gradient {
    background: var(--red-Gradient);
}
.bg.red-peach-skyBlue-gradient {
    background: var(--red-peach-skyBlue);
}
.bg.red-pink-gradient {
    background: var(--red-pink);
}
.bg.yellow-blue-gradient {
    background: var(--yellow-blue-gradient);
}
/*MOVIE POSTER*/
.grid-container {
    display: grid;
    grid-template-columns: minmax(min-content, 385px) minmax(100px, 1fr);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: solid 4px var(--clr-white);
    height: auto;
    max-width: 70rem;
    width: 950px;
    color: var(--clr-grey);
    background-color: var(--clr-white);
}
.grid-container .left img {
    width: 95%;
    height: 100%;
    color: var(--clr-grey);
}
.grid-container .left #mobile-poster {
    display: none;
}
.grid-container .right .content {
    max-height: 530px;
    overflow-y: auto;
    width: 100%;
    padding-right: 2rem;
}
.grid-container .right .content h1 {
    font-size: clamp(1.2rem, 3vw, 1.3rem);
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    margin: 25px auto;
}
.grid-container .right .content h2 {
    font-size: clamp(1.1rem, 3vw, 1.2rem);
    text-transform: uppercase;
    font-weight: 500;
    margin: 15px auto;
    color: var(--clr-white);
    border-radius: 5px;
    padding: .35rem;
    padding-left: .35rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
}
/*TITLE BACKGROUND COLORS*/
.grid-container .right .content .grey {
    background: var(--clr-grey);
}
.grid-container .right .content .blue {
    background: var(--clr-blue);
}
.grid-container .right .content .brown {
    background: var(--clr-brown);
}
.grid-container .right .content .burntOrange {
    background: var(--clr-burntOrange);
}
.grid-container .right .content .crimson {
    background: var(--clr-crimson);
}
.grid-container .right .content .darkBlue {
    background: var(--clr-darkBlue);
}
.grid-container .right .content .eggplant {
    background: var(--clr-eggplant);
}
.grid-container .right .content .gold {
    background: var(--clr-gold);
}
.grid-container .right .content .magenta {
    background: var(--clr-magenta);
}
.grid-container .right .content .navyBlue {
    background: var(--clr-navyBlue);
}
.grid-container .right .content .orange {
    background: var(--clr-orange);
}
.grid-container .right .content .orange-blue {
    background: var(--orange-blue-Gradient);
}
.grid-container .right .content .purple {
    background: var(--clr-purple);
}
.grid-container .right .content .purple-pink {
    background: var(--purple-pink-Gradient);
}
.grid-container .right .content .red {
    background: var(--clr-red);
}
.grid-container .right .content .red-pink {
    background: var(--clr-redPink);
}
.grid-container .right .content .yellow-blue {
    background: var(--yellow-blue-gradient);
}
/*MOVIE POSTER INFORMATION*/
.grid-container .right .content p {
    padding-left: .35rem;
}
.grid-container .right .content .img-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    text-transform: capitalize;
}
.grid-container .right .content .img-wrapper img {
    width: 100px;
    height: auto;
    margin: 0 auto;
    border-radius: 50%;
    color: var(--clr-grey);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}
.grid-container .right .content .img-wrapper p {
    margin: 5px auto;
    line-height: 1.3;
}
.grid-container .right .content .synopsis p {
    margin: 10px auto;
}
.grid-container .right .content .information span {
    text-transform: capitalize;
}
.grid-container .right .content .information ul li {
    list-style: none;
    line-height: 1.8;
    padding-left: .35rem;
}
.grid-container .right .content .grid-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid-container .right .content .grid-content .critics,
.grid-container .right .content .grid-content .user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.grid-container .right .content .grid-content .critics .star-wrapper,
.grid-container .right .content .grid-content .user .star-wrapper {
    position: relative;
    display: inline-block;
    margin-left: .5rem;
}
.grid-container .right .content .grid-content .critics i,
.grid-container .right .content .grid-content .user i {
    font-size: 2.3rem;
    color: var(--clr-gold);
}
.grid-container .right .content .grid-content .critics #critics-score,
.grid-container .right .content .grid-content .user #user-score {
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-40%, -55%);
    font-size: .95rem;
    font-weight: 600;
    color: var(--clr-white);
}
.grid-container .right .content .trailer iframe {
    aspect-ratio: 16 / 9;
    padding-left: .25rem;
}
.grid-container .right .content .copyright {
    padding-bottom: 1rem;
}
/*MEDIA QUERY'S*/
@media screen and (max-width: 995px) {
    .grid-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 350px;
        line-height: 1.25;
        overflow: hidden;
    }
    .grid-container .left img {
        display: none;
    }
    .grid-container .left #mobile-poster {
        display: block;
        width: 100%;
    }
    .grid-container .right .content {
        padding: .15rem .75rem;
        max-height: 30vh;
        overflow-y: auto;
    }
    .grid-container .right .content .img-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid-container .right .content .img-wrapper img {
        margin: 25px auto 0;
    }
}
@media screen and (max-width: 545px) {
    .grid-container {
        width: 85%;
    }
}
@media screen and (max-width: 425px) {
    .grid-container .right .content .grid-content .critics .star-wrapper,
    .grid-container .right .content .grid-content .user .star-wrapper {
        margin-right: 1.25rem;
    }
    .grid-container .right .content .grid-content .critics #critics-score,
    .grid-container .right .content .grid-content .user #user-score {
        top: 56%;
        left: 40%;
        transform: translate(-40%, -56%);
    }
}
@media screen and (max-width: 345px) {
    .grid-container .right .content .img-wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid-container .right .content .grid-content .critics .star-wrapper,
    .grid-container .right .content .grid-content .user .star-wrapper {
        margin-right: .25rem;
    }
}
@media screen and (max-width: 995px) and (orientation: landscape) {
    .grid-container {
        display: flex;
        flex-direction: row;
        max-width: 600px;
    }
    .grid-container .left img {
        display: block;
        width: 200px;
        height: 100%;
    }
    .grid-container .left #mobile-poster {
        display: none;
    }
    .grid-container .right .content {
        max-height: 295px;
    }
}
/*DARK MODE MEDIA QUERY*/
@media screen and (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
        background-color: var(--clr-grey);
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--clr-offWhite);
    }
    body {
        color: var(--clr-white);
        background-color: var(--clr-blk);
    }
    .bg.dark-mode {
        background: var(--dark-mode-Gradient);
    }
    .grid-container {
        border: none;
        color: var(--clr-offWhite);
        background-color: var(--clr-blk);
    }
    .grid-container .left img {
        color: var(--clr-white);
    }
    .grid-container .right .content .grey,
    .grid-container .right .content .blue,
    .grid-container .right .content .brown,
    .grid-container .right .content .burntOrange,
    .grid-container .right .content .crimson,
    .grid-container .right .content .darkBlue,
    .grid-container .right .content .eggplant,
    .grid-container .right .content .gold,
    .grid-container .right .content .magenta,
    .grid-container .right .content .navyBlue,
    .grid-container .right .content .orange,
    .grid-container .right .content .orange-blue,
    .grid-container .right .content .purple,
    .grid-container .right .content .purple-pink,
    .grid-container .right .content .red,
    .grid-container .right .content .red-pink,
    .grid-container .right .content .yellow-blue {
        color: var(--clr-offWhite);
        background: var(--clr-grey);
    }
    .grid-container .right .content .img-wrapper img {
        color: var(--clr-white);
    }
    .grid-container .right .content .grid-content .critics i,
    .grid-container .right .content .grid-content .user i {
        color: var(--clr-grey);
    }
    .grid-container .right .content .grid-content .critics #critics-score,
    .grid-container .right .content .grid-content .user #user-score {
        color: var(--clr-darkGold);
    }
}