@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-blk: #212121;
    --clr-white: #f0f0f0;
    --clr-offWhite: #c4c2c2;
    --clr-grey: #3e3b3b;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background-color: var(--clr-white);
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--clr-grey);
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background: rgb(240, 237, 237);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(168,19,24,1) 50%, rgba(0,0,0,1) 100%);
    cursor: default;
    overflow: hidden;
}
/*POSTER INFORMATION*/
.grid-container {
    display: flex;
    width: 50%;
    margin: 75px auto;
    border: solid 2px var(--clr-white);
}
.grid-container .left img {
    display: block;
    width: 300px;
    height: auto;
}
.grid-container .right .content {
    padding: 1rem;
    color: var(--clr-blk);
    background-color: var(--clr-white);
    overflow-Y: scroll;
    height: 435px;
}
@media screen and (prefers-color-scheme: dark) {
    body {
        color: var(--clr-white);
        background-color: var(--clr-blk);
    }
    .grid-container .right .content {
        color: var(--clr-offWhite);
        background-color: var(--clr-blk);
    }
}