@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@100;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --clr-blk: #212121;
    --clr-white: #f0f0f0;
    --clr-offWhite: #c4c2c2;
    --clr-grey: #3e3b3b;
    --clr-blue: #1b5cdd;
    --blk-white-Gradient: radial-gradient(circle, 
        rgba(0,0,0,1) 0%, 
        rgba(157,158,159,1) 15%, 
        rgba(0,0,0,1) 100%); 
    --red-Gradient: 
        linear-gradient(90deg,
        rgba(0,0,0,1) 0%, 
        rgba(168,19,24,1) 50%, 
        rgba(0,0,0,1) 100%);
    --red-pink: linear-gradient(35deg, 
        rgb(138, 24, 40) 0%, 
        rgb(180, 100, 109) 50%, 
        rgb(138, 24, 40) 100%); 
    --red-peach-skyBlue: linear-gradient(135deg, 
        rgb(123, 1, 50) 0%, 
        rgba(234,114,102,1) 35%, 
        rgba(62,98,164,1) 100%); 
    --blue-Gradient: linear-gradient(90deg, 
        rgba(0,0,0,1) 0%, 
        rgba(32,86,168,1) 50%, 
        rgba(0,0,0,1) 100%);
    --darkBlue-Gradient: radial-gradient(circle, 
        rgb(0, 0, 0) 0%, 
        rgb(24, 77, 124) 35%, 
        rgb(0, 0, 0) 100%);  
    --orange-Gradient: linear-gradient(90deg, 
        rgba(0,0,0,1) 0%, 
        rgb(164, 78, 28) 50%, 
        rgba(0,0,0,1) 100%);
    --crimson-Gradient: linear-gradient(90deg, 
        rgba(0,0,0,1) 0%, 
        rgba(128,28,41,1) 50%, 
        rgba(0,0,0,1) 100%);
    --orange-blue-Gradient: linear-gradient(90deg, 
        rgba(221,95,26,1) 0%,
        rgba(128,28,41,1) 35%,
        rgb(91, 99, 208) 100%);
    --eggplant-aegean-Gradient: linear-gradient(115deg, 
        rgba(54,31,46,1) 0%, 
        rgba(52,61,67,1) 50%, 
        rgba(54,31,46,1) 100%);   
    --purple-pacificBlue-Gradient: linear-gradient(90deg, 
        rgba(87, 21, 122,1) 0%, 
        rgba(71,101,149,1) 45%, 
        rgb(87, 21, 122) 100%); 
    --purple-pink-green-Gradient:linear-gradient(35deg, 
        rgba(82,83,168,1) 0%, 
        rgba(230,108,145,1) 35%, 
        rgba(142,190,107,1) 105%);
    --yellow-blue-gradient: linear-gradient(40deg, 
        rgba(41,61,95,1) 0%, 
        rgba(117,125,99,1) 35%, 
        rgba(248,162,57,1) 135%);
    --gold-Gradient: linear-gradient(65deg, 
        rgba(0,0,0,1) 0%, 
        rgba(175,129,79,1) 50%,
        rgba(0,0,0,1) 100%); 
    --brown-Gradient: linear-gradient(120deg, 
        rgba(0,0,0,1) 0%, 
        rgba(128,96,79,1) 45%, 
        rgba(0,0,0,1) 100%); 
}
body {
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: var(--clr-blk);
    background-color: var(--clr-white);
    cursor: default;
    overflow: hidden;
}
/*BACKGROUNDS*/
.bg {
    width: 100%;
    height: 100vh;
    background: rgb(0,0,0);
}
.bg.blk-white {
    background: var(--blk-white-Gradient);
}
.bg.red {
    background: var(--red-Gradient);
}
.bg.red-pink {
    background: var(--red-pink);
}
.bg.crimson {
    background: var(--crimson-Gradient);
}
.bg.blue {
    background: var(--blue-Gradient);
}
.bg.darkBlue {
    background: var(--darkBlue-Gradient);
}
.bg.purple-pacificBlue {
    background: var(--purple-pacificBlue-Gradient);
}
.bg.red-peach-skyBlue {
    background: var(--red-peach-skyBlue);
}
.bg.orange {
    background: var(--orange-Gradient);
}
.bg.orange-blue {
    background: var(--orange-blue-Gradient);
}
.bg.yellow-blue {
    background: var(--yellow-blue-gradient);
}
.bg.gold {
    background: var(--gold-Gradient);
}
.bg.brown {
    background: var(--brown-Gradient);
}
.bg.eggplant-aegean {
    background: var(--eggplant-aegean-Gradient);
}
.bg.purple-pink-green {
    background: var(--purple-pink-green-Gradient);
}
/*MOVIE POSTER*/
.grid-container {
    display: grid;
    grid-template-columns: minmax(min-content, 300px) minmax(100px, 1fr);
    width: 50rem;
    border: solid 2px var(--clr-white);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .6);
}
.grid-container .left img {
    display: block;
    width: 300px;
    height: auto;
}
.grid-container .right .content {
    color: var(--clr-blk);
    background-color: var(--clr-white);
    height: 435px;
    overflow-Y: scroll;
    padding: .5rem .75rem;
}
.right .content .title h1 {
    font-family: 'Outfit', sans-serif;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
}
.right .content h2 {
    font-size: clamp(1.1rem, 3vw, 1.2rem);
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    margin: 15px auto;
    color: var(--clr-white);
    background: var(--clr-blue);
    border-radius: 5px;
    padding-left: .35rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}
.right .content p {
    padding-left: .35rem;
}
.right .content .cast .img-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    text-transform: capitalize;
    margin: 25px auto 0;
}
.right .content .cast .img-wrapper .profile p {
    font-size: 1rem;
    margin: 5px auto;
}
.right .content .cast img {
    display: flex;
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: 0 auto;
}
.right .content .synopsis p {
    margin: 10px auto;
}
.right .content .copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}
@media screen and (prefers-color-scheme: dark) {
    body {
        color: var(--clr-white);
        background-color: var(--clr-blk);
    }
    .grid-container .right .content {
        color: var(--clr-offWhite);
        background-color: var(--clr-blk);
    }
    .bg.dark-mode {
        background: var(--blk-white-Gradient);
    }
    .right .content h2 {
        color: var(--clr-offWhite);
        background: var(--clr-grey);
    }
    .right .content .cast img {
        border: solid 2px var(--clr-offWhite);
    }
}